@model RoomDetailsViewModel

@{
    ViewData["Title"] = "Room";
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <!-- Room Information Card -->
        <div class="card mb-4 shadow-sm">
            <h5 class="card-header text-white bg-info">Thông tin phòng</h5>
            <div class="card-body">
                <form id="formRoomDetails" method="POST" onsubmit="return false">
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="roomName" class="form-label">Tên phòng</label>
                            <input class="form-control" type="text" id="roomName" name="roomName" value="@Model.Room.RoomName" readonly>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="quantity" class="form-label">Số người ở</label>
                            <input class="form-control" type="text" name="quantity" id="quantity" value="@Model.Room.Quantity" readonly>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="maxPeople" class="form-label">Số người tối đa</label>
                            <input class="form-control" type="text" id="maxPeople" name="maxPeople" value="@Model.Room.Max" readonly>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="area" class="form-label">Khu vực</label>
                            <input type="text" class="form-control" id="area" name="area" value="Tòa A" readonly>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="floor" class="form-label">Tầng</label>
                            <input class="form-control" type="text" id="floor" name="floor" value="1" readonly>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- Student Information Card -->
        <div class="card shadow-sm">
            <h5 class="card-header bg-primary text-white">Số sinh viên ở trong phòng</h5>
            <div class="card-body">
                <div class="table-responsive text-nowrap">
                    <table class="table table-bordered table-hover table-striped">
                        <thead class="table-dark">
                            <tr>
                                <th class="col-1 text-center">STT</th>
                                <th class="col-3 text-center">Họ tên</th>
                                <th class="col-2 text-center">Ngày sinh</th>
                                <th class="col-3 text-center">Số điện thoại</th>
                                <th class="col-3 text-center">Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Students)
                            {
                                <tr>
                                    <td class="text-center">
                                        @item.StudentID
                                    </td>
                                    <td class="text-center">@item.Name</td>
                                    <td class="text-center">@item.Birth</td>
                                    <td class="text-center">@item.Phone</td>
                                    <td class="text-center">@item.Address</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
